---
layout: default
---
<div class="container">
  <div class="row">
    <section class="col-md-9 col-sm-12">
      <article class="container pt-5" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
          <h1 itemprop="name headline">{{ page.title | escape }}</h1>
          <p>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              {{ page.date | date: date_format }}
            </time>
            {% if page.author %}
              • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}</p>
        </header>

        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

        {% if site.disqus.shortname %}
          {% include disqus_comments.html %}
        {% endif %}
      </article>
    </section>

    <section class="col-md-3 col-sm-12">
        <ul class="nav flex-column">
            {% for post in site.posts %}
                <li class="nav-item"><a class="nav-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
            {% endfor %}
        </ul>
    </section>
  </div>
</div>
